<section class="hero has-text-centered has-background-white">
    <div class="hero-body">
        <div class="container">
            <div class="column">
                <p class="title has-text-left">Keywords</p>
                    <br>
                    <div class="content has-text-left is-medium">
                        <ul>
                            <li>Spiking Neural Networks</li>
                            <li>Neuromorphic computing</li>
                            <li>Generative models</li>
                            <li>Speech recognition</li>
                            <li>Network compression</li>
                        </ul>
                    </div>
                    <br>
                <p class="title has-text-left">Publications</p>
                    <br>
                    <div class="content has-text-left is-medium">
                        <ul>
                            <li>
                                <b><u>Hiromichi Kamata</b></u>, Yusuke Mukuta, Tatsuya Harada, <i>"Fully Spiking Variational Autoencoder"</i>, Thirty-Sixth AAAI Conference on Artificial Intelligence (<b>AAAI</b>), 2022.
                                <br>
                                Arxiv: <a href="https://arxiv.org/abs/2110.00375" target="_blank">https://arxiv.org/abs/2110.00375</a>
                                <br>
                                Github: <a href="https://github.com/kamata1729/FullySpikingVAE" target="_blank">https://github.com/kamata1729/FullySpikingVAE</a>
                            </li>
                        </ul>
                    </div>
                    

                <p class="title has-text-left">Education</p>
                <br>
                    <p class="title has-text-left is-4">The University of Tokyo; Apr.2020 - Mar.2022</p>
                    <p class="content has-text-left is-medium">
                        Graduate School of Information Science and Technology. I am working on expanding the applicability of Spiking Neural Networks.
                    </p>

                    <p class="title has-text-left is-4">The University of Tokyo; Apr.2016 - Mar.2020</p>
                    <p class="content has-text-left is-medium">
                        Department of mechano informatics. I studied to improve the efficiency of neural architecture search (NAS).
                    </p>

                <p class="title has-text-left">Work Experiences</p>
                <br>
                    <p class="title has-text-left is-4"><a href="https://www.sony.com/en/SonyInfo/research/" target="_blank">Sony R&D center</a>; Sep.2020 (1 month)</p>
                    <p class="content has-text-left is-medium">
                        I researched methods for recovering images in datasets from trained models.
                    </p>
                    
                    <p class="title has-text-left is-4"><a href="https://recruit-holdings.com/en/" target="_blank">Recruit</a>; Mar.2021 (1 month)</p>
                    <p class="content has-text-left is-medium">
                        I analyzed data for the real estate app called <a href="https://suumo.jp/tokushu/foreigner/english/" target="_blank">suumo</a>.
                    </p>
                  
                <p class="title has-text-left">Coding Skills</p>
                    <br>
                    <div class="content has-text-left is-medium">
                        <ul>
                            <li>
                                <b>Python</b> use in my research or various applications like Deep learning (Pytorch), image processing, data analysis, etc.
                            </li>

                            <li>
                                <b>Swift</b> use in the internship and create some ios apps.
                            </li>
                            
                            <li>
                                <b>C++</b> implement pytorch models in c++ to speed up.
                            </li>
                            
                            <li>
                                <b>Java</b> create some Android apps.
                            </li>

                        </ul>
                    </div>
                     
            </div>
        </div>
</section>